h1{
    color: #1f5b25;
    text-align: center;
}
.suti{
    color:#1f5b25;
    background-color: #fff;
    border: 1px solid #1f5b25;
    border-radius: 4px;
    margin-bottom: 1rem;
}
.suti:hover{
    box-shadow:0px 0px 5px #1f5b25;
}
.suti h2{
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-variant: small-caps;
}